@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image:url(./snow.jpg);
    background-size: cover;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
    background-position: center center;
}